.card{
    background-color: antiquewhite;
    text-align: left;
    padding-left: 20px;
    
}
img{
    float: left;
    width: 150px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 10px;
}